{% extends 'base.html' %}

{% block title %}About Us - TaskMate {% endblock %}

{% block content %}

<div class="container>">
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://thumbs.dreamstime.com/b/mature-boss-company-staff-members-hugging-laughing-looking-camera-middle-aged-boss-company-staff-members-hugging-standing-190944309.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="700" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Us:</h1>
            <p class="lead">TaskMate is a team of passionate developers and designers dedicated to creating intuitive and efficient task management solutions for individuals and teams.</p>
            <p class="lead">Our mission is to help people stay organized, boost productivity, and achieve their goals by providing a user-friendly platform that simplifies task management.</p>
            <p class="lead">We believe in continuous improvement and are committed to delivering regular updates and new features based on user feedback to ensure that TaskMate remains the best tool for managing tasks and
        </div>
    </div>
    </div>
</div>

{% endblock %}