{% extends 'base.html' %}

{% block title %}Contact Us - TaskMate{% endblock %}

{% block content %}
<div class="container">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true"><use xlink:href="#collection"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Email Us</h3>
            <p>For any inquiries, please email us at contact@taskmate.com</p>
            
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true"><use xlink:href="#people-circle"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Call Us</h3>
            <p>For direct assistance, call us at +1 (555) 123-4567</p>
        
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true"><use xlink:href="#toggles2"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Visit Us</h3>
            <p>Our office is located at 123 TaskMate Street, Suite 100, San Francisco, CA 94107</p>
            
        </div>
    </div>
</div>
{% endblock %}