{% extends "base.html" %}

{% block title %}Homepage - TaskMate{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 shadow" src="https://media.istockphoto.com/id/2207568941/photo/3d-white-clipboard-task-management-todo-check-list-with-pencil.webp?s=1024x1024&w=is&k=20&c=qIxj84etDlG4YsqVTGC9AsrL4TYFqsdXcqs0Kc82xgY=" alt="" width="400" height="300">
    <div class="col-lg-6 mx-auto">
        <h2 class="lead bold mb-4">Welcome to TaskMate!</h2>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3 center">Get Started</button>
            
        </div>
    </div>
</div>
{% endblock %}